body {
    background-image: url(/images/background.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
}
#main {
    /* background-color: #fff; */
    position: absolute;
    height: 98%;
    width: 98%;
    margin: 10px 10px 10px 10px;
}
.head {
    text-align: center;
    font-size: 54px;
    color:rgb(116, 116, 204);
}
#console {
    width: 700px;
    height: 700px;
    position: relative;
    margin: 1% 0 0 25%;

}
#row{
    margin: 5px;
    height: 150px;
    position: relative;

    
}
#consoleBtn {
    background-color:whitesmoke;
    height: 150px;
    width: 150px;
    float: right;
    font-size: 30px;
    -webkit-box-shadow: inset 2px -1px 38px 12px rgb(136, 168, 175);
    -moz-box-shadow: inset 2px -1px 38px 12px rgb(75, 143, 158);
    box-shadow: inset 2px -1px 38px 12px rgb(15, 57, 66);
    

}
#panel {
    height: 200px;
    width: 700px;
    position: relative;
    text-align: center; 
    
}
#info{
    float: left;
    position: relative;
    color: whitesmoke;
    font-size: 24px;
    margin-top: 10px;
}

#recordButton{
font-size: 17px;
color: white;
background-color:transparent;
height: 100px;
width: 100px;
padding: 0;
}
#playButton{
    font-size: 17px;
    color: white;
    background-color:transparent;
    height: 100px;
    width: 100px;
    padding: 0;
    }
.top1:focus{
    font-size: 17px;
    color: rgb(139, 72, 72);
    background-color:transparent;
    height: 100px;
    width: 100px;
    padding: 0;
}